.content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: rgb(226, 226, 226);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.title-header {
  text-align: center;
  line-height: 10pt;
  color: #4e4e4e;
}

.title-header span {
  color: #6FB244;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 500px;
  height: 40px;
  font-size: 15px;

  border-radius: 5px;
  border: 1px solid rgb(205, 205, 205);
  padding-left: 10px;
  padding-right: 10px;
}

input[type=text]:focus{
  outline: 2px solid #6FB244;     /* oranges! yey */
}

.search-btn {
  width: 100px;
  height: 50px;
  border: none;
  margin-top: 10px;
  border-radius: 3px;

  font-size: 15px;

  background: #6FB244;
  color: white
}

button:hover {
  background: #477B3A;
  cursor: pointer;
}